<tr>
  <% jobs.each do |job| %>
    <td><%= "#{job.description}" %></td>
    <td><%= "#{job.sector}" %></td>
    <td><%= "#{job.departure_date}" %></td>
    <td><%= "#{job.skills}" %></td>
    <td><%= "#{job.country_id}" %></td>
  <% end %>
</tr>