<h2>In Their Own Words</h2>
<div class = 'col-md-6'>
	<h3>Volunteer Blogs</h3>
	<div class='row-fluid'>
		<div class='col-md-6'>
			<ul>
				<li><%= link_to 'Simply Intentional', 'http://simplyintentional.wordpress.com/
		' %></li>
				<li><%= link_to 'The Gambia', 'http://simplyintentional.wordpress.com/
		' %></li>
				<li><%= link_to 'Namibia', 'http://simplyintentional.wordpress.com/
		' %></li>
				<li><%= link_to 'There By The Shore', 'http://simplyintentional.wordpress.com/
		' %></li>
				<li><%= link_to 'What I Learned In The PC', 'http://simplyintentional.wordpress.com/
		' %></li>
				<li><%= link_to 'Meg Wandering', 'http://simplyintentional.wordpress.com/
		' %></li>
				<li><%= link_to 'Taste Of Peace', 'http://simplyintentional.wordpress.com/
		' %></li>
			</ul>
		</div>
		<div class='col-md-6'>
			<ul>
				<li><%= link_to 'Jen and Joshn in Ethiopia', 'http://simplyintentional.wordpress.com/
		' %></li>
				<li><%= link_to 'PC Guinea', 'http://simplyintentional.wordpress.com/
		' %></li>
				<li><%= link_to 'To Guatemala', 'http://simplyintentional.wordpress.com/
		' %></li>
				<li><%= link_to 'Traditional', 'http://simplyintentional.wordpress.com/
		' %></li>
			</ul>
		</div>
	</div>

</div>
<div class = 'col-md-6'>
	<h3>Volunteer Stories</h3>
	<h4><%=link_to 'From Hawaii to Benin', '#' %></h4>
	<p class='story'>
		Peace Corps was the ultimate cross-cultural experience. Learning new cultures was really my main goal. I didn't go in with arrogant ideas of saving native villagers from themselves by teaching them the American way of doing things. I wanted to learn and experience what they could teach me. When I was posted in a small bush village in Benin, I was thrilled thinking that I got exactly what I wanted-a remote place with optimal opportunity for cultural immersion.
	</p>
	<p class= 'volunteer pull-right'>
		<%=link_to 'Dana Miller', '#' %>, Benin
	</p>
</div>