 <div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h1><%=link_to 'From Hawaii to Benin', '#' %></h1>
          <p class='story'>
            Peace Corps was the ultimate cross-cultural experience. Learning new cultures was really my main goal. I didn't go in with arrogant ideas of saving native villagers from themselves by teaching them the American way of doing things. I wanted to learn and experience what they could teach me. When I was posted in a small bush village in Benin, I was thrilled thinking that I got exactly what I wanted-a remote place with optimal opportunity for cultural immersion.
        </p>
        <p><%=link_to 'Dana Miller', '#' %>, Benin</p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <h1><%=link_to 'If Theres Enough For One', '#' %></h1>
          <p class='story'>
            Then it came unbidden into my mind: If there’s enough for one, there’s enough for two. Suddenly, all the sayings and traditions around food that I had been observing coalesced into something large enough to spur change. I was able to push it all aside: my embarrassment at the meager portions, my worry that he would think it tasted bad, my self-ishness at the thought of biking so far on such little nourishment. What matters is that someone who might not eat all day has something to put in his stomach, I finally realized. And what matters is a willingness to share, ungrudgingly and without hesitation.
          </p>
          <p><%=link_to 'Kara Garbe', '#' %>, Burkina Faso </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <h1><%=link_to 'Family Affair', '#' %></h1>
          <p class='story'>
            Seeing how these former students reacted to my parents was incredible, persuasive evidence that Peace Corps Volunteers have a profound influence wherever they go, whatever they do. In fact, I felt that a Volunteer could almost spend the entire two years of service locked inside a house and still change something significant in the lives of people all around.
          </p>
          <p><%=link_to 'Tana Beverwyk', '#' %>, Malawi</p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->