<div id="wrapper">
    <header id="nav">
	    <button type="button" class="btn btn-default btn inline showmenu">
	  		<span class="glyphicon glyphicon-align-justify left"></span>
		</button>
		<ul class="topmenu">
			<% @sectors.each do |sector| %>
  		        <li><%= link_to sector.name.titleize.split.first, sector_path(sector) %> </li>
            <% end %>
		</ul>
		<button class="btn-default btn-sm right inline login" data-toggle="modal" data-target="#loginModal">Login</button>
    </header>
    <div id="filterdiv">
         <form id="interests" name="setInterests" class="inline" action='/jobs' method="get">
         	<p class="inline">I'm interested in</p>
           	<div class="check-selections inline" id="sectors-container">
           		<select id="sectors" class="form-control">
           			<option value='0'>All Sectors</option>
  		            <% @sectors.each do |sector| %>
  		            	<option value='<%= sector.id %>'><%= sector.name.titleize %></label></option>
  		            <% end %>
  		        </select>
  	        </div>


			<p class="inline">in</p>
			<div class="check-selections inline small" id="regions-container">
				<select id="regions" class="form-control">
					<option value='0'>All Regions</option>
		            <% @regions.each do |region| %>
		            	<option value='<%= region.id %>'><%= region.name.titleize %></option>
                <% end %>
		        </select>
	        </div>
	        <div class="form-horizontal">
         		<button type="submit" class="submit btn btn-success btn-lg" value="Find Opportunities">Find Opportunities</button>
         		<!--
         		<p class="inline"> or </p>
         		<button class="btn btn-default btn-sm" value="Get A Suggestion">Get A Suggestion</button>
         		-->
         	</div>
         </form>
    </div>
    <div id="map-canvas"></div>
    <div>
    	<table id="search-results" class="med">
    	
		</table>
	</div>
	<!-- Job Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	      	<div class="spacer">
	        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        </div>
	        <!--<h4 class="modal-title" id="myModalLabel"></h4>-->
	      </div>
	      <div class="modal-body">
	      </div>

	      <div class="modal-footer">
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style addthis_32x32_style col-md-10 col-md-offset-2">
			  <a class="addthis_button_preferred_1"></a>
			  <a class="addthis_button_preferred_2"></a>
			  <a class="addthis_button_preferred_3"></a>
			  <a class="addthis_button_preferred_4"></a>
			  <a class="addthis_button_compact"></a>
			  <a class="addthis_counter addthis_bubble_style"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51febb8b0c7aa2c1"></script>
			<!-- AddThis Button END -->

			<button type="button" class="btn btn-primary">Apply Now!</button>

	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- Login Modal -->
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	      	<h2>Login</h2>
	      	<div class="spacer">
	        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        </div>
	        <!--<h4 class="modal-title" id="myModalLabel"></h4>-->
	      </div>
	      <div class="modal-body">
	      	<ul class='email-login inline'>
	      		<li><input type="email" placeholder="you@example.com" /></li>
	      		<li><input type="password" placeholder="password"/></li>
	      		<li><button type="button" class="btn btn-default">Login with Email</button></li>
	      	</ul>
	      	<h2 class="inline">or</h2>
	      	<div class='linkedin-login inline'>
	      		<button type="button" class="btn btn-default">Login with <%= image_tag('linkedin_logo.jpg') %></button>
	      	</div>
	      </div>

	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>
<!--
<div id="rightColumn">
	<span>Match Your Experience</span>
	<div class="thumbnail">
			<%= image_tag('linkedin_logo.jpg') %>
	</div>
	<hr>
	<a href="/education.html">
		<div class="thumbnail">
			<%= image_tag('education.png') %>
		</div>
	</a>
	<a href="/education.html">
		<div class="thumbnail">
			<%= image_tag('ag.png') %>
		</div>
	</a>
	<a href="/education.html">
		<div class="thumbnail">
			<%= image_tag('enviro.png') %>
		</div>
	</a>
	<a href="/education.html">
		<div class="thumbnail">
			<%= image_tag('health.png') %>
		</div>
	</a>
	<a href="/education.html">
		<div class="thumbnail">
			<%= image_tag('business.png') %>
		</div>
	</a>
	<a href="/education.html">
		<div class="thumbnail">
			<%= image_tag('youth.png') %>
		</div>
	</a>
</div>
-->
