<div id="wrapper">
    <header id="nav">
	    <button type="button" id="show-menu" class="btn btn-default btn inline">
	  		<span class="glyphicon glyphicon-align-justify left"></span>
		</button>
		<ul id="top-menu">
			<% @sectors.each do |sector| %>
  		        <li><%= link_to sector.name.titleize.split.first, sector_path(sector) %> </li>
            <% end %>
		</ul>
    </header>
    <div id="filterdiv">
         <form id="interests" name="setInterests" class="inline" action='/jobs' method="get">
         	<p class="inline">I'm interested in</p>
           	<div class="check-selections inline" id="sectors-container">
           		<select id="sectors" class="form-control">
           			<option value='0'>All Sectors</option>
  		            <% @sectors.each do |sector| %>
  		            	<option value='<%= sector.id %>'><%= sector.name.titleize %></label></option>
  		            <% end %>
  		        </select>
  	        </div>


			<p class="inline">in</p>
			<div class="check-selections inline small" id="regions-container">
				<select id="regions" class="form-control">
					<option value='0'>All Regions</option>
		            <% @regions.each do |region| %>
		            	<option value='<%= region.id %>'><%= region.name.titleize %></option>
                <% end %>
		        </select>
	        </div>
	        <div class="form-horizontal">
         		<button type="submit" class="submit btn btn-success btn-lg" value="Find Opportunities">Find Opportunities</button>
         		<!--
         		<p class="inline"> or </p>
         		<button class="btn btn-default btn-sm" value="Get A Suggestion">Get A Suggestion</button>
         		-->
         	</div>
         </form>
    </div>
    <div id="map-canvas"></div>
    <div>
    	<table id="search-results" class="med">

		</table>
	</div>
	<!-- Job Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	      	<div class="spacer">
	        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        </div>
	        <!--<h4 class="modal-title" id="myModalLabel"></h4>-->
	      </div>
	      <div class="modal-body">
	      </div>

	      <div class="modal-footer">
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style addthis_32x32_style col-md-10 col-md-offset-2">
			  <a class="addthis_button_preferred_1"></a>
			  <a class="addthis_button_preferred_2"></a>
			  <a class="addthis_button_preferred_3"></a>
			  <a class="addthis_button_preferred_4"></a>
			  <a class="addthis_button_compact"></a>
			  <a class="addthis_counter addthis_bubble_style"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51febb8b0c7aa2c1"></script>
			<!-- AddThis Button END -->

			<button type="button" class="btn btn-primary">Apply Now!</button>

	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
